[Unit]
Description=timer night-shift
Wants=network.target

[Timer]
OnStartupSec=0
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=night-shift.service

[Install]
WantedBy=timers.target
